body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif;
  background-color: rgb(255, 245, 233);
}

.containerMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  font-size: 15rem;
  font-family: "Baloo Da", cursive;
  cursor: default;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoBlock {
  cursor: default;
  font-size: 2em;
  font-family: "Acme", sans-serif;
}

.startBtn {
  font-size: 5rem;
  background-color: lightblue;
  color: white;
  font-family: "Baloo Da", cursive;
  padding: 0 4rem;
  border-radius: 1rem;
  outline: none;
}

.endGame {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: "Baloo Da", cursive;
}
